@import '../../../../app.component.scss';

div{
   text-align: center;
   margin-top: 25px;
   margin-bottom: 15px;
   input{
      padding: 10px;
      border: none;
      outline: none;
      min-width: 30%;
      color:  $text-color;
      background-color: rgb(219, 218, 218);
      border-radius: 20px 0 0 20px;
      -webkit-border-radius: 20px 0 0 20px;
      -moz-border-radius: 20px 0 0 20px;
      -ms-border-radius: 20px 0 0 20px;
      -o-border-radius: 20px 0 0 20px;
      &::placeholder{
         color:  $text-color;
      }
   }
   button{
      padding: 10px;
      border: none;
      outline: none;
      color:  $text-color;
      background:$main-colors ;
      border-radius: 0px 20px 20px 0px;
      -webkit-border-radius: 0px 20px 20px 0px;
      -moz-border-radius: 0px 20px 20px 0px;
      -ms-border-radius: 0px 20px 20px 0px;
      -o-border-radius: 0px 20px 20px 0px;
      &:hover {
         cursor: pointer;
         color: white;
         background: $hover-colors;
      }
   }
}

